body {
  margin: 0;
  padding: 0;

  background-color: #fdf6e3; /* sabbia chiara */
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

main {

}
html {
  scroll-behavior: smooth;
}


.contacts {
  max-width: 700px;
  margin: auto;
}
* {
  box-sizing: border-box;
}

